#problemStatement {
    padding: 1%px;
    width: 60%;
    height: fit-content;
    background-color: rgb(211, 230, 211);
    float: left;
    margin-left: 1%
}

#problemTitle{
    font-size: 40px;

}

#problemDescrption {
    font-size: 20px;
}

#inputFile {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#testInput{
    padding: 2%;
    margin-right: 1%;
    width: 33%;
    float: right;
    margin-left: 1%;   
    height: fit-content;
    background-color: rgb(220, 233, 220);
}

.textArea{
    width: 90%;
}
